@model IEnumerable<Lab05.Models.Giohang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GioHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iSoluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dThanhtien)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ten)
            </td>
            <td>
                <img src="@item.hinh" width="180" />
            </td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { id = item.id }))
            {
                <td>
                    @String.Format("{0:0,0}", item.gia) VNĐ
                </td>
                <td>
                    <input type="number" min="1" name="txtSoLg" value="@item.iSoluong" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dThanhtien)
                </td>
                <td>
                    <a href="">Chi tiết</a> |
                    @Html.ActionLink("Xoá", "XoaGiohang", new { id = item.id })

                </td>
                <td>
                    <input type="submit" value="Cập nhật" class="btn btn-success" />
                </td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:left; color:red">
        <td colspan="2">Số loại rubik: @ViewBag.Tongsoluongsanpham</td>
        <td colspan="2">Số lượng rubik: @ViewBag.Tongsoluong</td>
        <td colspan="4">Tổng tiền: @string.Format("{0:0,0}", ViewBag.Tongtien) VNĐ</td>
    </tr>
    <tr style="font-weight:bold; text-align:left; color:blue">
        <td colspan="5">@Html.ActionLink("Xoá giỏ hàng", "XoaTatCaGioHang")</td>
    </tr>
    <tr style="font-weight:bold; text-align:left; color:yellow">
        <td colspan="5">@Html.ActionLink("Đặt hàng", "Dathang", "GioHang")</td>
    </tr>
</table>
