@model Lab05.Models.Rubik
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<h2>@Html.DisplayFor(model => model.ten)</h2>
<div class="col-sm-12 col-md-12">
    <div class="thumbnail">
        <img src="@Html.DisplayFor(model => model.hinh)" />
    </div>
    <div class="caption">
        <p>@Html.DisplayNameFor(model => model.maloai): @Html.DisplayFor(model => model.maloai)</p>
        <p>@Html.DisplayNameFor(model => model.mota): @Html.DisplayFor(model => model.mota)</p>
        <p>@Html.DisplayNameFor(model => model.gia): @Html.DisplayFor(model => model.gia)</p>
        <p>@Html.DisplayNameFor(model => model.hang): @Html.DisplayFor(model => model.hang)</p>
        <p>@Html.DisplayNameFor(model => model.soluongton): @Html.DisplayFor(model => model.soluongton)</p>
        <p>
            <a href="@Url.Action("ThemGioHang", "GioHang", new {@id = Model.id, @strURL = Request.Url.ToString()})" class="btn btn-primary" role="button">Mua</a>
            @Html.ActionLink("Back", "Index", "", new { @class = "btn btn-info" })
        </p>
    </div>
</div>